*.class

# Package Files #
*.jar
*.war
*.ear

.classpath
.project
WebContent/WEB-INF/classes/**/*
*~
target/*
*/target/*
*/.settings/*
.settings/*
opt/*
logs/*
bo-ear/target/*
*/MANIFEST.MF
.springbeans
*.idea
*.iml
src/main/resources/git.properties
*atlassian*
*/META-INF/MANIFEST.MF
*/bin/*